.App-header {
    display: flex;
    justify-content: space-between; /* Platz zwischen den Items */
    align-items: center;            /* Vertikale Zentrierung */
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed; /* Fixiert den Header */
    width: 100%;     /* Volle Breite des Bildschirms */
    top: 0;          /* Oben positionieren */
    left: 0;         /* Links positionieren */
    z-index: 1000;   /* Sicherstellen, dass der Header oben liegt */
}

.menu-toggle {
    font-size: 24px;
    cursor: pointer;
}

.headlineOne {
    flex: 1; /* Nimmt den verbleibenden Platz ein */
    text-align: center; /* Zentriert den Text innerhalb des Elements */
    margin: 0; /* Entfernt Standard-Margen */
}

.nav {
    display: flex;
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.nav.open {
    display: block;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    .nav {
        display: none; /* Standardmäßig ausblenden auf mobilen Geräten */
        position: absolute;
        top: 60px; /* Position unterhalb des Headers */
        left: 0;
        width: 100%;
        background-color: #333;
        text-align: center;
    }

    .nav.open {
        display: block;
    }

    .nav ul {
        flex-direction: column;
        padding: 0;
    }

    .nav ul li {
        margin: 20px 0;
    }
}
